.comment {
  overflow: hidden;
  display: block;
  .posted_on, .reply {
    font-size: 80%;
    margin: 0;
    display: inline;
  }
  .posted_on {

  }
  .reply {
    float: right;
  }
  .content {
    padding-left: 4px;
    border-left: 2px solid #aa0;
  }
  &.comment {
    padding-left: 20px;
  }

}
