// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.topic {
  clear: left;
  border-top: 1px dotted #aaa;
  &:first-child {
    border-top: 0;
  }
  h3 {
    clear: left;
    margin-bottom: 0;
  }
  meter {
    width: 100%;
  }
}
.priority {
  meter, div {
    float: left;
  }
}
